## ğŸSUMMER CAMP 2020 SQL WEEK3

### 1. ì•Œì•„ë‘¬ì•¼í•  5 STEP

In [3]:
import pymysql # íŒŒì´ì¬ì€ ë§ì€ ë¼ì´ë¸ŒëŸ¬ë¦¬ê°€ ìˆê³  ê·¸ ì¤‘ì— í•˜ë‚˜ê°€ mysqlì„ íŒŒì´ì¬ìœ¼ë¡œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬

In [4]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='Myloxyloto5!', db='ecommerce', charset='utf8')
#localhost my computer
#port ì™¸ë¶€ ì ‘ì† ì™”ì„ ë•Œ ì–´ë–¤ í”„ë¡œê·¸ë¨ì„ ì“°ëŠ”ì§€? íŠ¹ì • í¬íŠ¸ ë²ˆí˜¸ = í”„ë¡œê·¸ë¨ë§ˆë‹¤ ìˆìŒ mysql ë””í´íŠ¸ ë²ˆí˜¸ 3306

In [5]:
db #ì ‘ì†ì´ ëœ ìƒíƒœê°€ ê°ì²´ë¡œ ë„˜ì–´ì™”ë‹¤, ê°ì²´í‘œì‹œ ë¶•ì–´ë¹µ í‹€ë¡œ ì°ì–´ëƒ„~

In [4]:
ecommerce = db.cursor() #ëª…ë ¹ì„ ë°›ì„ ìˆ˜ ìˆëŠ” ìƒíƒœ

In [5]:
ecommerce #ì»¤ì„œë¼ëŠ” ê°ì²´ê°€ ì ‘ì† ì‹¤ì œ ëª…ë ¹ì„ ë‚´ë¦´ ìˆ˜ ìˆëŠ” ìƒíƒœ ---- ì¤€ë¹„ ìƒíƒœ ë!

```
create database ecommerce;
use ecommerce;
show databases;
create table product (
	product_code varchar(20) not null,
    title varchar(200) not null,
    ori_price int,
    discount_price int,
    discount_percent int,
    delivery varchar(2),
    primary key(product_code)
);
desc product;
   
create table ranking (
	id int unsigned not null auto_increment,
    category varchar(50),
    subcategory varchar(50),
    ranking int not null,
    product_code varchar(20) not null,
    primary key(id)
);
desc ranking;

insert into product values('215673140', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”',23000,6900,70,'F');
select* from product;
```

In [6]:
sql = """
    create table product (
	product_code varchar(20) not null,
    title varchar(200) not null,
    ori_price int,
    discount_price int,
    discount_percent int,
    delivery varchar(2),
    primary key(product_code)
);
"""

In [7]:
ecommerce.execute(sql)

0

In [8]:
db.commit() # ì»¤ë„¥íŠ¸ ìˆ˜í–‰í•œ ê°ì²´ ì‹¤í–‰í•œ êµ¬ë¬¸ ì‹¤ì œë¡œ ì‹¤í–‰í•´! ë¼ëŠ” ëœ»

In [9]:
db.close()

### 2.

In [10]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='Myloxyloto5!', db='ecommerce', charset='utf8')

cursor = db.cursor()

for index in range(10):
    product_code = 215673140 + index + 1
    sql = """INSERT INTO product VALUES(
    '""" + str(product_code) + """', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F'); """
    print (sql)
    cursor.execute(sql)

db.commit()
db.close()

INSERT INTO product VALUES(
    '215673141', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673142', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673143', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673144', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673145', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673146', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673147', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673148', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673149', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');
INSERT INTO product VALUES(
    '215673150', 'ìŠ¤ìœ„íŠ¸ë°”ë‹ˆ ì—¬ë¦„ì‹ ìƒ5900ì›~ë¡±ì›í”¼ìŠ¤í‹°ì…”ì¸ /ê¸´íŒ”/ë°˜íŒ”', 23000, 6900, 70, 'F');

ë””í‚¤ì¦ˆ(ê´‘ì£¼ì‹ ì„¸ê³„)ë””í‚¤ì¦ˆ ì—¬ë¦„ì‹œì¦Œì˜¤í”„ 5ì¢… íƒ 1 (TST686/TST687/TST688/TST689/TST690)
10,000ì›
8,080ì›
19

In [6]:
import pymysql

cursor = db.cursor()
sql = """
update product set 
    title = 'ë””í‚¤ì¦ˆ(ê´‘ì£¼ì‹ ì„¸ê³„)ë””í‚¤ì¦ˆ ì—¬ë¦„ì‹œì¦Œì˜¤í”„ 5ì¢… íƒ 1 (TST686/TST687/TST688/TST689/TST690)', 
    ori_price = 10000, 
    discount_price = 8080,
    discount_percent = 19
    where product_code='215673141'
"""

cursor.execute(sql)
db.commit()
db.close()

1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ê°€ì ¸ì˜¤ê¸°
2. ì ‘ì†í•˜ê¸°
3. ì»¤ì„œ ê°€ì ¸ì˜¤ê¸°
4. SQL êµ¬ë¬¸ ë§Œë“¤ê¸°
5. SQL êµ¬ë¬¸ ì‹¤í–‰í•˜ê¸°
6. commit í•˜ê¸°
7. close í•˜ê¸°

In [26]:
g_title = ['ë©”ì´í‚¹ìœ  5900~ ì›í”¼ìŠ¤/ë¸”ë¼ìš°ìŠ¤/ë‹ˆíŠ¸ ë¹…ì‚¬ì´ì¦ˆ','[ë””í‚¤ì¦ˆ](ê´‘ì£¼ì‹ ì„¸ê³„)ë””í‚¤ì¦ˆ ì—¬ë¦„ì‹œì¦Œì˜¤í”„ 5ì¢… íƒ 1 (TST686/TST687)',
           '[ì´ë„ˆë¦¬ì¦˜]1+1 ì˜¤í”ˆ ë°± ë…¸ì™€ì´ì–´ ë¸Œë¼íƒ‘ ë¸Œë¼ë › 2ì¥','[ì˜ˆìŠ¤]ì˜ˆìŠ¤ ì™¸ 17%ì¿ í° ë¸Œë¼+íŒ¬í‹° 2ì¢…SET ì‹ ê·œë¬¼ëŸ‰ ì—…ë°ì´íŠ¸',
           'ë‹¤ì˜¨ìƒµ ì‹ ìƒ+ì—¬ë¦„SLAE ì¶”ê°€10% ì²­ë°”ì§€/ì¼ì/ë¦°ë„¨ 3XL~','ë‹¬ë¦¬ìƒµ ë”± ì°¾ë˜ í• ì¸ê¸° ë§ì€ ì›í”¼ìŠ¤/ë¸”ë¼ìš°ìŠ¤',
           '[ì´ì§€ë°”ì´]ì°½ê³ ëŒ€ë°©ì¶œ ë§ˆì§€ë§‰ì¬ê³  ë“±ì‚°/ì•„ì›ƒë„ì–´/íŠ¸ë ˆì´ë‹ 49~','í’ê¸°ì¸ê²¬ íŒŒê²©ì„¸ì¼ ì—„ë§ˆì˜·ë¡œì¦ˆë§˜ 50ëŒ€ì¤‘ë…„ì—¬ì„±ì˜ë¥˜',
           'ì‹œí¬ë£¨ì¦ˆ/ì‹œì¦Œì˜¤í”„/ì›í”¼ìŠ¤/SETìƒí’ˆ/ë¹…ì‚¬ì´ì¦ˆ','ì‹œìŠ¤í„° ë¹…ì„¸ì¼ 5900~ë¹…ì‚¬ì´ì¦ˆë¡±í‹°/ë¡±ì›í”¼ìŠ¤/ì„¸íŠ¸/íŒ¬ì¸ ']
g_price = [33000,10000,23000,30980,33000,33000,16300,43000,43000,19600]
g_disp = [9900,8080,6900,9510,9900,9900,4900,12900,12900,5900]
g_dispc = [70,19,70,69,70,70,69,70,70,69]


import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='Myloxyloto5!', db='ecommerce', charset='utf8')

cursor = db.cursor()
sql = """
update product set 
    title = 'ì‹œìŠ¤í„° ë¹…ì„¸ì¼ 5900~ë¹…ì‚¬ì´ì¦ˆë¡±í‹°/ë¡±ì›í”¼ìŠ¤/ì„¸íŠ¸/íŒ¬ì¸ ', 
    ori_price = 19600, 
    discount_price = 5900,
    discount_percent = 69
    where product_code='215673150'
"""
cursor.execute(sql)

db.commit()
db.close()

# ê°™ì€ ìë£Œí˜•ë¼ë¦¬ë§Œ ì—°ê²° ê°€ëŠ¥...
# ë©”ëª¨ì¥ì— csv ë§Œë“¤ì–´ì„œ ë„£ìœ¼ë©´ ë˜ì—ˆìŒ...ã…‹

### 3. foreign key

In [1]:
import pymysql
import pandas as pd

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='Myloxyloto5!', db='sqldb', charset='utf8')
sql = 'select* from userTbl'
df = pd.read_sql(sql, db)
df

  userID name  birthYear addr mobile1   mobile2  height       mDate
0    BBK  ë°”ë¹„í‚´       1973   ì„œìš¸     010  00000000     176  2013-05-05
1    EJW  ì€ì§€ì›       1972   ê²½ë¶     011  88888888     174  2014-03-03
2    JKW  ì¡°ê´€ìš°       1965   ê²½ê¸°     016  99999999     172  2010-10-10
3    JYP  ì¡°ìš©í•„       1950   ê²½ê¸°     011  44444444     166  2009-04-04
4    KBS  ê¹€ë²”ìˆ˜       1979   ê²½ë‚¨     011  22222222     173  2012-04-04
5    KKH  ê¹€ê²½í˜¸       1971   ì „ë‚¨     019  33333333     177  2007-07-07
6    LJB  ì„ì¬ë²”       1963   ì„œìš¸     016  66666666     182  2009-09-09
7    LSG  ì´ìŠ¹ê¸°       1987   ì„œìš¸     011  11111111     182  2008-08-08
8    SSK  ì„±ì‹œê²½       1979   ì„œìš¸    None      None     186  2013-12-12
9    YJS  ìœ¤ì¢…ì‹        1960   ê²½ë‚¨    None      None     170  2005-05-05

In [2]:
cursor = db.cursor()

SQL = "select * from buyTbl"
df = pd.read_sql(SQL, db)
df

ë‘ í…Œì´ë¸” ê°„ì˜ ê´€ê³„ë¥¼ í™•ì¸í•´ì•¼ í•©ë‹ˆë‹¤.   
í…Œì´ë¸”ì„ ì—°ê²°í•´ì£¼ëŠ” ì™¸ë¶€í‚¤ ë°ì´í‹€ ê°„ì˜ ê´€ê³„ë¥¼ ì—°ê²°, ì œí•œ(?) í•´ì£¼ëŠ” ì™¸ë¶€ í‚¤

In [4]:
cursor = db.cursor()
SQL_QUERY = "INSERT INTO buyTbl (userID, prodName, groupName, price, amount) VALUES('BBK', 'ìš´ë™í™”', 'ì˜ë¥˜', 30, 2);"
cursor.execute(SQL_QUERY)
db.commit()

user tableì— user IDì— ìƒˆë¡œìš´ ì‚¬ëŒì„ ë„£ì–´ì•¼ê² ë‹¤ê³  í•œë‹¤ë©´ ë¨¼ì € ì…ë ¥í•  ë•Œ ë„£ì–´ì£¼ì–´ì•¼í•œë‹¤.